.container{
   display: flex;
   justify-content:space-between;
   align-items: center;
   border: 1px solid rebeccapurple;
}

.container > div{
   border: 1px solid black;
   height: 125px;
}

.container2{
   display: flex;
   border: 1px solid blue;
   gap: 15px;
}

.container2 > p{
   border: 1px solid black;
   height: 125px;
}
